<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Parser</title>

    <link rel="stylesheet" href="/css/jqcloud.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jqcloud.min.js"></script>

    <script type="text/javascript" src="/js/highcharts.js"></script>
    <script type="text/javascript" src="/js/highcharts/boost.js"></script>

    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            buildTagsCloud(
                $("#anchorTextChart"),
                {{ anchorChartConfig | raw }}
            );

            buildChart(
                'linkStatusChart',
                {
                    "chart": {
                        "plotBackgroundColor": null,
                        "plotBorderWidth": null,
                        "plotShadow": false,
                        "animation": false,
                        "type": "pie"
                    },
                    "title": false,
                    "tooltip": {"pointFormat": "{point.percentage:.1f}%"},
                    "plotOptions": {"pie": {"allowPointSelect": false, "dataLabels": false}}
                },
                {{ linkStatusChartConfig | raw }}
            );

            buildChart(
                "fromUrlChart",
                {
                    "chart": {
                        "plotBackgroundColor": null,
                        "plotBorderWidth": null,
                        "plotShadow": false,
                        "animation": false,
                        "type": "pie"
                    },
                    "title": false,
                    "tooltip": {"pointFormat": "{point.percentage:.1f}%"},
                    "plotOptions": {
                        "pie": {
                            "allowPointSelect": false,
                            "dataLabels": {
                                "formatter": function() {
                                    if (this.percentage > 7) {
                                        return this.point.name;
                                    }
                                }
                            }
                        }
                    }
                },
                {{ fromUrlChartConfig | raw }}
            );

            buildChart(
                'bldomChart',
                {
                    "chart": {
                        "plotBackgroundColor": null,
                        "plotBorderWidth": null,
                        "plotShadow": false,
                        "animation": false,
                        "type": "column"
                    },
                    "title": false,
                    "plotOptions": {"column": {"pointPadding": 0.2, "borderWidth": 0}},
                    "legend": false
                },
                {{ bldomByRangeChartConfig | raw }}
            )
        });
    </script>
</head>
<body>
    <div id="anchorTextChart" class="chart"></div>
    <div id="linkStatusChart" class="chart"></div>
    <div id="fromUrlChart" class="chart"></div>
    <div id="bldomChart" class="chart"></div>
</body>
</html>