<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Parser</title>

    <link rel="stylesheet" href="/css/jqcloud.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jqcloud.min.js"></script>
    <script type="text/javascript" src="/js/highcharts.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            buildTagsCloud(
                $("#anchorTextChart"),
                {{ anchorChartData | raw }}
            );

            buildPieChart(
                'linkStatusChart',
                {{ linkStatusChartData | raw }}
            );

            buildPieChart(
                'fromUrlChart',
                [{
                    name: 'Microsoft Internet Explorer',
                    y: 56.33
                }, {
                    name: 'Chrome',
                    y: 24.03,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Firefox',
                    y: 10.38
                }, {
                    name: 'Safari',
                    y: 4.77
                }, {
                    name: 'Opera',
                    y: 0.91
                }, {
                    name: 'Proprietary or Undetectable',
                    y: 0.2
                }]
            );

            buildBarChart(
                'bldomChart',
                [{
                    name: 'Year 1800',
                    data: [107, 31, 635, 203, 2]
                }, {
                    name: 'Year 1900',
                    data: [133, 156, 947, 408, 6]
                }, {
                    name: 'Year 2012',
                    data: [1052, 954, 4250, 740, 38]
                }]
            )
        });
    </script>
</head>
<body>
    <div id="anchorTextChart" class="chart"></div>
    <div id="linkStatusChart" class="chart"></div>
    <div id="fromUrlChart" class="chart"></div>
    <div id="bldomChart" class="chart"></div>
</body>
</html>